<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=IBM+Plex+Sans:ital,wght@1,300&family=Merriweather&family=Montserrat&family=Oleo+Script+Swash+Caps&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Redressed&family=Sacramento&family=Tapestry&family=Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
</head>
<body>
    <div class="container">
        <div class="navbar">
         <div class="logo">
             <img src="images/logo-Chef.png" alt="logo" width="125px">
         </div>
            <nav>
             <ul id="MenuItem">
                <li><a href="/">Home</a></li>
                 <li><a href="/Product">Items</a></li>
                 <li><a href="/Chef">Our Chefs</a></li>
                 <li><a href="#">Contact</a></li>
                 <li><a href="/account">Account</a></li>
             </ul>
            </nav>
            <a href="Cart.html"><img src="images/cart.png" width="30px" height="30px" alt="cart"></a>
            <img src="images/menu.png" class="menu" alt="menu" onclick="menuToggle()">
        </div>
    </div>
