<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Website</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=IBM+Plex+Sans:ital,wght@1,300&family=Merriweather&family=Montserrat&family=Oleo+Script+Swash+Caps&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Redressed&family=Sacramento&family=Tapestry&family=Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="header" >
    <div class="container">
        <div class="navbar">
         <div class="logo">
             <img src="images/logo-chef.png" alt="logo" width="125px">
         </div>
            <nav>
             <ul id="MenuItem">
                 <li><a href="/">Home</a></li>
                 <li><a href="/Product">Items</a></li>
                 <li><a href="/Chef">Our Chefs</a></li>
                 <li><a href="#">Contact</a></li>
                 <li><a href="/account">Account</a></li>
             </ul>
            </nav>
           <a href="/Cart"><img src="images/cart.png" width="30px" height="30px" alt="cart"></a>
            <img src="images/menu.png" class="menu" alt="menu" onclick="menuToggle()">
        </div>
        <div class="row">
            <div class="col-2">
                <h1>Taste the luxurious Cusine<br>At Affordable Price!</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br>
                     Quaerat itaque veritatis rerum perferendis atque saepe nulla reiciendis, 
                     dicta corporis consequuntur.
                </p>
                <a href="#" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2"> 
                <img src="images/pic-1.png" alt="images">
            </div>
        </div>
    </div>
</div>

<!----Featured Categories-->
<div class="categories" data-aos="fade-up">
    <div class="small-container">
        <h2 class="title">Featured Categories</h2>
    <div class="row">
        <div class="col-3">
            <img src="images/pic-2.jpg" alt="category-1" class="cat">
        </div>
        <div class="col-3">
            <img src="images/pic-4.jpg" alt="category-1" class="cat">
        </div>
        <div class="col-3">
            <img src="images/pic-5.jpg" alt="category-1" class="cat">
        </div>
    </div>
    </div>
</div>

<!----Featured Products-->

<div class="small-container" data-aos="fade-up">
    <h2 class="title">Featured Items</h2>
    <div class="row">
        <div class="col-4">
            <img src="images/pic-2.jpg" alt="Products">
            <h4>Lorem, ipsum.</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <!-- <p>$50.00</p> -->
        </div>
        <div class="col-4">
            <img src="images/pic-3.jpg" alt="Products">
            <h4>Lorem, ipsum.</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <!-- <p>$56.00</p> -->
        </div>
        <div class="col-4">
            <img src="images/pic-4.jpg" alt="Products">
            <h4>Lorem, ipsum.</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <!-- <p>$60.00</p> -->
        </div>
        <div class="col-4">
            <img src="images/pic-5.jpg" alt="Products">
            <h4>Lorem, ipsum.</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <!-- <p>$50.00</p> -->
        </div>
    </div>
    <h2 class="title">Latest Items</h2>
    <div class="row" data-aos="fade-up">
        <div class="col-4">
            <img src="images/grilled-garlic-and-black-pepper shrimp.jpg" alt="Products">
            <h4>Lorem, ipsum.</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <!-- <p>$50.00</p> -->
        </div>
        <div class="col-4">
            <img src="images/chocolate Avocado Pudding.jpg" alt="Products">
            <h4>Lorem, ipsum.</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <!-- <p>$56.00</p> -->
        </div>
        <div class="col-4">
            <img src="images/Le Grand AioLi.jpg" alt="Products">
            <h4>Lorem, ipsum.</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <!-- <p>$60.00</p> -->
        </div>
        <div class="col-4">
            <img src="images/retro trifle.jpg" alt="Products">
            <h4>Lorem, ipsum.</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <!-- <p>$50.00</p> -->
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="images/Spring-Risotto-with-Asparagus-an.jpg" alt="Products">
            <h4>Lorem, ipsum.</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <!-- <p>$50.00</p> -->
        </div>
        <div class="col-4">
            <img src="images/tomato tart with chicken pea crumbles.jpg" alt="Products1">
            <h4>Lorem, ipsum.</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <!-- <p>$56.00</p> -->
        </div>
        <div class="col-4">
            <img src="images/pic-2.jpg" alt="Products">
            <h4>Grey Sports Shoes</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <!-- <p>$60.00</p> -->
        </div>
        <div class="col-4">
            <img src="images/pic-4.jpg" alt="Products">
            <h4>Lorem, ipsum.</h4>
            <div class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
            </div>
            <!-- <p>$50.00</p> -->
        </div>
    </div>
</div>



<!---OFFERS-->
<div class="offer" data-aos="fade-up">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="images/chef-map.png" class="offer-img">
            </div>
            <div class="col-2">
                <h1>We Serve Better.</h1>
                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias beatae aliquam,
                     sequi dolore aut numquam quos inventore voluptate illum, fugit saepe ex,
                      exercitationem neque voluptatem corporis. Accusamus sint quo hic.
                </small>
                <br>
                <a href="#" class="btn">Try now &#8594</a>
            </div>
        </div>
    </div>
</div>

<!--Testimonial-->

<div class="testimonial" data-aos="fade-up">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsa tenetur corrupti at cupiditate aliquam quidem consequatur minus assumenda odit, dolorem ipsum voluptates? Architecto porro optio, accusamus aliquid perferendis corrupti.</p>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <img src="images/user-1.png" class="user">
                <h3>Priya Raj</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsa tenetur corrupti at cupiditate aliquam quidem consequatur minus assumenda odit, dolorem ipsum voluptates? Architecto porro optio, accusamus aliquid perferendis corrupti.</p>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <img src="images/user-2.png" class="user">
                <h3>Ankur Warikoo</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias ipsa tenetur corrupti at cupiditate aliquam quidem consequatur minus assumenda odit, dolorem ipsum voluptates? Architecto porro optio, accusamus aliquid perferendis corrupti.</p>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <img src="images/user-3.png" class="user">
                <h3>Shreya Das</h3>
            </div>
        </div>
    </div>
</div>

<!--BRANDS--->
<div class="brands" data-aos="fade-up">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="images/logo-godrej.png" alt="">
            </div>
            <div class="col-5">
                <img src="images/amul.png" alt="">
            </div>
            <div class="col-5">
                <img src="images/logo-coca-cola.png" alt="">
            </div>
            <div class="col-5">
                <img src="images/logo-paypal.png" alt="">
            </div>
            <div class="col-5">
                <img src="images/nestle.png" alt="">
            </div>
        </div>
    </div>
</div>
<!---FOOTER-->

<div class="footer" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and IOS mobile phone</p>
                <div class="app-logo">
                    <img src="images/play-store.png" alt="">
                    <img src="images/app-store.png" alt="">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="images/logo-Chef.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, error?.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2022 - Aakarsh Vatsraj</p>
    </div>
</div>

<script>
    let manuBtn=document.getElementById("MenuItem");

    manuBtn.style.maxHeight="0px";
    function menuToggle()
    {
        if(manuBtn.style.maxHeight === "0px")
        {
            manuBtn.style.maxHeight="200px";
        }
        else
        {
            manuBtn.style.maxHeight="0px";
        }
    }
</script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    offset:175,
    duration:1000,
  });
</script>
</body>
</html>